/*------------BASE : MOVIL (<700px)------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    color:#22744C; 
    font-family: Lilita One;
    box-sizing: border-box;
}

#contenedor{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*### CABECERA SUPERIOR ###*/
.cabecera-superior{
  background-color: #ffff0cdc;
  text-align: center;
  padding: 10px;
}

.info{
  margin-bottom: 10px;
}

.info p{
  margin: 5px 0;
  font-size: 0.9em;
}

.banderas img{
  width: 40px;
  height: 25px;
  margin:5px;
}

/*## CABECERA INFERIOR ##*/
.cabecera-inferior nav{
  background-color: #c3ecd9;
  text-align: center;
  padding: 15px;
}

nav ul{
  flex-direction: column;
  text-align: center;
}

.logo img{
  width: 120px;
  margin-bottom: 10px;
}

.menu{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.menu a{
  text-decoration: none;
  background-color: #22744C;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #103523;
  color: rgb(64, 184, 17);
}

.frasediw img{
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  margin-top: 10px;
}

/*## CONTENIDO PRINCIPAL ##*/
main{
  display:flex;
  flex-direction: column; 
}

section{
  line-height: 1.8;
}

section article{
  margin-bottom: 30px;
}

section h2{
  text-align: center;
  margin-bottom: 10px;
}

.menu2 {
  background-color: #c3ecd9;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

.menu2 ul{
  list-style: none;
}

.menu2 li{
  margin: 20px 0;
}

.menu2 a{
  text-decoration: none;
  font-size: 18px;
  color: #22744C;
  display: inline-block;
  transition: 0.3s;
}

.menu2 a:hover {
  background-color: #103523;
  color: rgb(64, 184, 17);
  border-radius: 20px;
  padding: 5px 10px;
}

/*## FOOTER ##*/

footer{
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #22744C;
}

footer h3, footer h4 {
  margin: 10px;
}

.pie-redes img {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
}

#whatsapp:hover {
  background-color: #a1ffb1;
  transform: scale(1.1);
  padding:10px;
}

#facee:hover {
  background-color: #a1b7ff;
  transform: scale(1.1);
  padding:10px;
}

#insta:hover {
  background-color: #fca1ff;
  transform: scale(1.1);
  padding:10px;
}

#x:hover {
  background-color: #919191;
  transform: scale(1.1);
  padding:10px;
}


.iconowhatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.iconowhatsapp img {
  width: 60px;
  height: 60px;
}

.iconowhatsapp img:hover{
  background-color: #a1ffb1;
  transform: scale(1.1);
  padding:10px;
  border-radius: 50%;
}

/* ------------TABLET (>700px y <1200px)------------*/
@media (min-width:700px){


/*### CABECERA SUPERIOR ###*/
  .cabecera-superior{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 15px 30px;
  }

/*## CABECERA INFERIOR ##*/
  .cabecera-inferior nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  nav ul{
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  nav li{
    border: none;
  }

  .menu{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .frasediw img{
    max-height: 200px;
  }

  /*## CONTENIDO PRINCIPAL ##*/

  main{
    flex-direction: column;
    padding:30px;
  }

  .menu2{
    padding: 20px;
  }

  .menu2 a{
    font-size: 20px;
  }

  /*## FOOTER ##*/
  footer{
    padding: 30px;
  }

  .pie-redes img{
    width: 50px;
    height: 50px;
  }

}

/* ------------PC (>1200px)------------*/

@media (min-width:1200px){

/*### CABECERA SUPERIOR ###*/
.cabecera-superior{
  padding: 20px 40px;
}

.info{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

/*## CABECERA INFERIOR ##*/
.cabecera-inferior nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img{
  width: 300px;
}

nav ul{
  justify-content: center;
  gap: 40px;
}

.menu {
  flex-direction: row;
  gap: 40px;
}

.menu a{
  font-size: 20px;
}

.frasediw img{  
  width: 100%;
  height: 100%;
  margin-top:auto;
}

/*## CONTENIDO PRINCIPAL ##*/
main{
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

section{
  flex: 3;
}

.menu2{
  display: flex;   
  border-radius: 20%;
  padding:70px;
}

.menu2 a{
  font-size: 30px;
}

/*## FOOTER ##*/
footer{
  padding: 40px;
}

.pie-redes img{
  width: 60px;
  height: 60px;
}

.iconowhatsapp img{
  width: 80px;
  height: 80px;
}

}